:host /deep/ .ui-datatable{
  width: 350px;
}

:host /deep/ .ui-datatable td, tr{
  padding: 0;
  margin: 0;
}


.weather table{

}

.container-fluid {
  padding: 10px;
}


.weather-table tr td{
  padding: 0 10px;
}

.weather-table tr {
  border: solid 1px #c1c1c1;
}
